<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=client.username%></title>

    <link href="css/style.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/profile"><%=status%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <img class="img-fluid bot-avatar rounded-circle" src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=512%>" width="200px" height="200px" alt="">
            <br/>
          <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%= `${user.username}#${user.discriminator}` %></h3>
        </div>
      </div>
    </header>

      <br/>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2"> 
          <h2 class="display-5">Servers</h2>
          <p class="display-7">Please select a server</p>
        </div>
      </div>

          <center>
            <div class="guild-container">
              <div class="serv-container">
          <% guilds.forEach((guild) => { %>   
               <div title="<%= guild.name %>">
              <a href="/servers/<%= guild.id %>">
          <% if (guild.icon) { %>
              <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=2048" width="70px" height="70px" class="guild-icon" />
          <% } else { %>
              <canvas class="guild-icon" id="<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '') %>" width="70px" height="70px"></canvas>

      <script>
        function createIcon() {
          const nameAcronym = document.getElementById("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>").getContext('2d');
          nameAcronym.font = '30px Arial';
          nameAcronym.textAlign = "center";
          nameAcronym.fillStyle = "white";
          nameAcronym.fillText("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>", 25, 35);
        }
        createIcon();
      </script>
            <%}%>
             </a>
            </div>
      <%});%>
          </div>
        </div>
      </center>
    </div>

    <br/>
    
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; <%=client.username%> 2018 | <a href="https://github.com/TheDeveloperNetwork/Amigo">GitHub</a></p>
      </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>
